[submodule "GoodMCExtreme/preset"]
	path = GoodMCExtreme/preset
	url = https://github.com/Envel-Nikita-Gutsenkov/Goodmc.-Original.-Source-code.-
[submodule "TavernCompendium/preset"]
	path = TavernCompendium/preset
	url = https://github.com/Waywardson22/Tavern-Compendium
