[submodule "GoodMCExtreme/preset"]
	path = GoodMCExtreme/preset
	branch = master
	url = https://github.com/Envel-Nikita-Gutsenkov/GoodMC-Original-RealisticWorld-Epic-Config
[submodule "TavernCompendium/preset"]
	path = TavernCompendium/preset
	url = https://github.com/Waywardson22/Tavern-Compendium
